<h1>Ember v4 Test</h1>
<ModifierTest />
{{outlet}}
{{#if (can 'create foo')}}
    You can create foo.
{{else}}
    You can't create foo.
{{/if}}
<p>
    Moment:
    {{moment-format '01-1985-26' 'MM/DD/YYYY' 'MM-YYYY-DD'}}
</p>